
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }
      .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }
  
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 800px;
        height: 380px;
        border-radius: 15px;
        background: #FFFAE4;
        box-shadow: none !important;
        padding: 30px;
      }
      .swiper-slide-next{
        transition-duration: 0ms;
        transform: translate3d(-581px, 0px, -82px) rotateX(0deg) rotateY(0deg) scale(1) !important;
      }
      .swiper-slide-prev{
        transition-duration: 0ms;
        transform: translate3d(581px, 0px, -82px) rotateX(0deg) rotateY(0deg) scale(1) !important;
      }
      .swiper-button-next{
        
          right: var(--swiper-navigation-sides-offset,212px) !important;
          
      }
      .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset,212px);
        right: auto;
    }
      .swiper-button-next, .swiper-button-prev {
        top: var(--swiper-navigation-top-offset,25%);
        transform: scale(.6);
        width: 70px;
        height: 70px;
        background-color: #DBB200;
        border-radius: 50px;
        color: #000 !important;
        font-weight: bold !important;
      }
  .swip-description p{
    color: #272727;
    text-align: center;
    font-size: 28px;
    font-family: Lato;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
  }
  .swip-img img{
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin: auto;
      display: flex;
      margin-bottom: 15px;
  }
      .testi-title h1{
          font-size: 58px;
          font-weight: 600;
          line-height: 77.31px;
          border-bottom: 1px solid #DBB200;
          text-align: center;
          width: fit-content;
          margin: auto;
          color: #DBB200;
          position: relative;
      }
     
      .testi-title h1 span{
          color: #000 ;
      }
      .testi-title h1::after{
        content: "";
        width: 116px;
        height: 8px;
        background-color: #DBB200;
        position: absolute;
        bottom: 0px;
        left: 50%;
        border-radius: 10px;
        transform: translate(-50%, 4px);
          
      }
      .name-tile h2{
        text-align: center;
        color: #000;
        font-size: 48px;
        font-family: Lato;
        font-weight: 700;
    }
    .name-tile h4{
        color: #DBB200;
        font-size: 28px;
        font-family: Lato;
        font-style: italic;
        font-weight: 500;
        text-align: center;
    }